<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo eCommerce</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/carts.css' %}">
</head>

<body>
    <header>
        <h1>Dojo eCommerce</h1>
        <div>
            <p><a href="/">Home</a></p>
            <p><a href="/carts">Shopping Cart {1}</a></p>
            <p><a href="/loginandreg">Login</a></p>
            <p><a href="/logout">Logout</a></p>
        </div>
    </header>
    <main>
        <div id="cart">
            <table>
                <thead>
                    <tr>
                        <th>Item</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{item.name}</td>
                        <td>${item.price}</td>
                        <td>
                            {item.quantity}
                            <a href="">update</a>
                            <a href=""><img src="" alt="trash_icon"></a>
                        </td>
                        <td>{context:total item price}</td>
                    </tr>
                </tbody>
            </table>
            <div id="total">
                <p>Total: ${total cart price}</p>
                <a href="/"><button type="submit">Continue Shopping</button></a>
            </div>
        </div>
        <div id="shipping">
            <h2>Shipping Information</h2>
            <form action="" method="post">
                {% csrf_token %}
                <p>
                    <label>First Name:</label>
                    <input type="text">
                </p>
                <p>
                    <label>Last Name:</label>
                    <input type="text">
                </p>
                <p>
                    <label>Address:</label>
                    <input type="text">
                </p>
                <p>
                    <label>Address 2:</label>
                    <input type="text">
                </p>
                <p>
                    <label>City:</label>
                    <input type="text">
                </p>
                <p>
                    <label>State:</label>
                    <input type="text">
                </p>
                <p>
                    <label>Zipcode:</label>
                    <input type="text">
                </p>
            </form>
            <form action="" method="post"></form>
        </div>
        <div id="billing">
            <h2>Billing Information</h2>
            <form action="https://youtu.be/dQw4w9WgXcQ?t=85" method="post">
                {% csrf_token %}
                <p id="checkbox">
                    <input type="checkbox">
                    <label>Same as Shipping</label>
                </p>
                <p>
                    <label>First Name:</label>
                    <input type="text">
                </p>
                <p>
                    <label>Last Name:</label>
                    <input type="text">
                </p>
                <p>
                    <label>Address:</label>
                    <input type="text">
                </p>
                <p>
                    <label>Address 2:</label>
                    <input type="text">
                </p>
                <p>
                    <label>City:</label>
                    <input type="text">
                </p>
                <p>
                    <label>State:</label>
                    <input type="text">
                </p>
                <p>
                    <label>Zipcode:</label>
                    <input type="text">
                </p>
                <br>
                <p>
                    <label>Card:</label>
                    <input type="text">
                </p>
                <p>
                    <label>Security Code:</label>
                    <input type="text">
                </p>
                <p id="expiration">
                    <label>Expiration:</label>
                    <input id="month" type="text" value="(mm)">
                    /
                    <input id="year" type="text" value="(year)">
                </p>
                <button type="submit">Pay</button>
            </form>
        </div>
    </main>
</body>

</html>